iframe {
  width: 100vw;
  min-height: 100vh;
  height: max-content;
  border-width: 0;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
